<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vince & Alex's Wedding Site</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Baby Shower</h1>
    <div class="card">
      <p>lorem ipsum</p>
      <img src="/images/baby_announce_1.jpg" alt="">
    </div>
    <footer>
      <p>Website by <a href="https://pale.io">//pale.io</a>, obviously.  Check the <a href="https://github.com/pale2hall/vinceandalex" target="_blank">GitHub</a>.</p>
    </footer>
  </body>
</html>
