<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vince & Alex's Wedding Site</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Baby Shower!</h1>
    <div class="card">
      <p>SATURDAY, JAN 9, 2021 @ 2 PM EST</p>
      <h2>There's a new baby coming soon!</h2>

      <img src="/images/baby_announce_1.jpg" alt="">
      
      <p>Since COVID-19 is showing no sign of going away, we have decided to have a virtual baby shower! </p>
        <p>Spouses are welcome!</p>
        <hr>
       <p> If you would like to send a gift, you may mail your gifts between now and January.</p>
       <p> We will then get together virtually on Google Meet to open gifts, chat, and celebrate.</p>
      <address>
        Alexia Vader
        <br>6203 Garrett Ave
        <br>Bensalem, PA 19020
      </address>
      <hr>
      <p>Alex and Vince are registered on <a href="https://www.amazon.com/baby-reg/alex-vader-vince-pale-february-2021-bensalem/ZN0LRB5YKTW3">Amazon</a><br>
        <small>
          <a href="https://www.amazon.com/baby-reg/alex-vader-vince-pale-february-2021-bensalem/ZN0LRB5YKTW3">
            https://www.amazon.com/baby-reg/alex-vader-vince-pale-february-2021-bensalem/ZN0LRB5YKTW3
          </a>
      </small></p>
      <hr>
      <p style="text-align:center"><img src="/images/google-meet-logo.png"></p>
      <p><em>Link and details about how to join the shower coming closer to the event!</em></p>
      <hr>
      <h2>Updates!</h2>
      <p><strong>Dec 16th 2020</strong><br>Updated this page to add event details!</p>
    </div>
    <footer>
      <p>Website by <a href="https://pale.io">//pale.io</a>, obviously.  Check the <a href="https://github.com/pale2hall/vinceandalex" target="_blank">GitHub</a>.</p>
    </footer>
  </body>
</html>
