<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vince & Alex's Wedding Site</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">

  </head>
  <body class="baby-bg">
    <h1>Baby Shower!</h1>
    <div class="card">
      <p  class="baby-bg" >SATURDAY, JAN 9, 2021 @ 2 PM EST</p>
      <p id="countdown"></p>
      <h2>There's a new baby coming soon!</h2>

      <img src="/images/LEGO2crop.jpg" alt="" style="width:100%">
      
      <p>Since COVID-19 is showing no sign of going away, we have decided to have a virtual baby shower! </p>
        <p>Spouses are welcome!</p>
        <hr>
       <p> If you would like to send a gift, you may mail your gifts between now and January.</p>
       <p> We will then get together virtually on Google Meet to open gifts, chat, and celebrate.</p>
      <address>
        Alexia Vader
        <br>6203 Garrett Ave
        <br>Bensalem, PA 19020
      </address>
      <hr>
      <p>Alex and Vince are registered on <a href="https://www.amazon.com/baby-reg/alex-vader-vince-pale-february-2021-bensalem/ZN0LRB5YKTW3">Amazon</a><br>
        <small>
          <a href="https://www.amazon.com/baby-reg/alex-vader-vince-pale-february-2021-bensalem/ZN0LRB5YKTW3">
            https://www.amazon.com/baby-reg/alex-vader-vince-pale-february-2021-bensalem/ZN0LRB5YKTW3
          </a>
      </small></p>
      <hr>
      <p style="text-align:center"><img src="/images/google-meet-logo.png" style="height:3em"></p>
      <p><em>Link and details about how to join the shower coming closer to the event!</em></p>
      <hr>
      <h2>Updates!</h2>
      <p><strong>Dec 16th 2020</strong><br>Updated this page to add event details!</p>
    </div>
    <footer>
      <p>Website by <a href="https://pale.io">//pale.io</a>, obviously.  Check the <a href="https://github.com/pale2hall/vinceandalex" target="_blank">GitHub</a>.</p>
    </footer>
    
<script>
var countDownDate = new Date("2021-01-09T14:00:00.000-05:00").getTime();
var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
  </body>
</html>
