<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vince & Alex's Wedding Site</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Vince and Alex</h1>
    <div class="card">
      <p>Welcome to Alex and Vince's wedding website.  Here we will post information and details as they become available.  For updates, please feel free to provide your email address, and we will keep you posted.</p>
      <a href="http://eepurl.com/giknfL" target="_blank">Sign up for Email Updates.</a>
    </div>
    <h2>The story so far...</h2>
    <div class="card">
      <h3>Early 2010s</h3>
      <p>Met online</p>
      <p>Met IRL</p>
      <h3>November 2018</h3>
      <p>Got Engaged</p>
      <h3>2019 & 2020</h3>
      <p class="tba">Wedding Planning</p>
      <p class="tba">COVID-19</p>
      <h3>2021</h3>
      <p class="tba">Wedding</p>

    </div>
    <footer>
      <p>Website by <a href="https://pale.io">//pale.io</a>, obviously.  Check the <a href="https://github.com/pale2hall/vinceandalex" target="_blank">GitHub</a>.</p>
    </footer>
  </body>
</html>
